# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directories
build/
.idea/.name
.idea/misc.xml
.idea/modules.xml
.idea/mopmc-dev.iml
.idea/vcs.xml
.vscode/c_cpp_properties.json
cmake-build-default/build.ninja
cmake-build-default/cmake_install.cmake
cmake-build-default/CMakeCache.txt
cmake-build-default/.cmake/api/v1/query/cache-v2
cmake-build-default/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-default/.cmake/api/v1/query/codemodel-v2
cmake-build-default/.cmake/api/v1/query/toolchains-v1
cmake-build-default/.cmake/api/v1/reply/cache-v2-867b19f73359c64d827d.json
cmake-build-default/.cmake/api/v1/reply/cmakeFiles-v1-c70927696a8dc45bf941.json
cmake-build-default/.cmake/api/v1/reply/codemodel-v2-83a7c6171b63dac723b8.json
cmake-build-default/.cmake/api/v1/reply/directory-.-f5ebdc15457944623624.json
cmake-build-default/.cmake/api/v1/reply/directory-src-b6cf2213fc5053b67c22.json
cmake-build-default/.cmake/api/v1/reply/directory-src.storm-src-a1413172515a36c93903.json
cmake-build-default/.cmake/api/v1/reply/index-2023-08-03T17-56-12-0719.json
cmake-build-default/.cmake/api/v1/reply/target-mopmc-e3ac17259af704971a66.json
cmake-build-default/.cmake/api/v1/reply/toolchains-v1-99265b04de7ada3aac9e.json
cmake-build-default/CMakeFiles/clion-Default-log.txt
cmake-build-default/CMakeFiles/clion-environment.txt
cmake-build-default/CMakeFiles/cmake.check_cache
cmake-build-default/CMakeFiles/CMakeConfigureLog.yaml
cmake-build-default/CMakeFiles/rules.ninja
cmake-build-default/CMakeFiles/TargetDirectories.txt
cmake-build-default/CMakeFiles/3.26.4/CMakeCCompiler.cmake
cmake-build-default/CMakeFiles/3.26.4/CMakeCXXCompiler.cmake
cmake-build-default/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
cmake-build-default/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_CXX.bin
cmake-build-default/CMakeFiles/3.26.4/CMakeSystem.cmake
cmake-build-default/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
cmake-build-default/CMakeFiles/3.26.4/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-default/src/cmake_install.cmake
cmake-build-default/src/storm-src/cmake_install.cmake
cmake-build-default/Testing/Temporary/LastTest.log
